#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.navbar {
  background: #000;
  color: #fff;
  padding: 20px;
}

.navbar a{
  color: #fff;
  text-decoration: none;
  padding: 5px 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}